.text-remark {
  text-align: left;
}
.text-remark-content::selection {
  background: transparent;
}
.text-remark .text-remark-content {
  position: absolute;
  left: 0;
  top: 0;
  width: '100%';
}
.text-remark .real-text {
  opacity: 0;
}

.text-remark.mousedown .real-text {
  z-index: 10;
}
.text-remark .text-remark-tag {
  cursor: pointer;
}
.text-remark .text-remark-active {
  background-color: #ff0;
}
.text-remark .text-remark-danger {
  background-color: #f00;
}
.text-remark .text-remark-normal {
  background-color: aqua;
}
