.text-remark {
  text-align: left;
  position: relative;
  text-indent: 2em;
}
.text-remark-content::selection {
  background: transparent;
}
.text-remark .text-remark-content {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}
.text-remark .real-text {
  opacity: 0;
  position: absolute;
}

.text-remark.mousedown .real-text {
  z-index: 10;
}
.text-remark .text-remark-tag {
  cursor: pointer;
}
.text-remark .text-remark-active {
  background-color: #ff0;
}
.text-remark .text-remark-danger {
  background-color: #f56c6c;
}
.text-remark .text-remark-normal {
  background-color: #409eff;
}
.text-remark .text-remark-other {
  background-color: #ccc;
}
.text-remark .text-remark-selected {
  background-color: #ff0;
}
